


  .sharpener{
    position:absolute;
    margin-left:20px;
    width:80px;
    height:100px;
    background:rgb(163, 8, 8);
    border-radius:15%;
    margin-top: 30px;
  }
  
  .sharpener-1{
    position:absolute;
    margin-left:25px;
    margin-top:10px;
    width:30px;
    height:80px;
    background:white;
  }
  
  .sharpener-2{
    position:absolute;
    margin-left:45px;
    margin-top:45px;
    width:8px;
    height:8px;
    background:rgb(177 152 235);
    border-radius:100%
  }
  .sharpener-3{
    position:absolute;
    margin-left:-30px;
    margin-top:29px;
    width:40px;
    height:45px;
    background:#FFF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .sharpener-4{
    position:absolute;
    margin-left:70px;
    margin-top:29px;
    width:40px;
    height:45px;
    background:#FFF;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }


.bikesh {
  background-color: green;
}

.colorChange{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.colorChange .shubham{
  border: 1px solid black;
  background: red;
}

.colorChange .asmin{
  border: 1px solid black;
  background: red;
}

.colorChange .abhishek{
  border: 1px solid black;
  background: red;
}

.colorChange .rochak{
  border: 1px solid black;
  background: red;
}

.colorChange .sandip{
  border: 1px solid black;
  background: red;
}

.colorChange .bikesh{
  border: 1px solid black;
  background: red;
}

.text-center{
  text-align: center;
}
