


  .sharpener{
    position: absolute;
    margin-left: 20px;
    width: 80px;
    height: 100px;
    background: rgb(177 152 235);
    border-radius: 15%;
  }
  
  .sharpener-1{
    position:absolute;
    margin-left:25px;
    margin-top:10px;
    width:30px;
    height:80px;
    background:white;
  }
  
  .sharpener-2{
    position:absolute;
    margin-left:45px;
    margin-top:45px;
    width:8px;
    height:8px;
    background:rgb(177 152 235);
    border-radius:100%
  }
  .sharpener-3{
    position:absolute;
    margin-left:-30px;
    margin-top:29px;
    width:40px;
    height:45px;
    background:#FFF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .sharpener-4{
    position:absolute;
    margin-left:70px;
    margin-top:29px;
    width:40px;
    height:45px;
    background:#FFF;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

.middle {
  text-align: center;
}
.wrapper {
  margin: auto;
  margin-top: 100px;
  width: 400px;
  height: 40px;
}

#eraser {
  float: left;
  width: 50px;
  height: 40px;
  border-radius: 20%;
  background-color: pink;
}

#neck {
  float: left;
  margin-left: -10px;
  height: 40px;
  width: 10px;
  background-color: black;
}

#middle {
  float: left;
  height: 40px;
  width: 300px;
  background-color: #ffff70;
}

.arrow-right {
  float: left;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 40px solid #a9999f;
}

#tip {
  margin-top: 15px;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid black;
  display: inline-block;
}
.bikesh {
  background-color: green;
}

.text-center {
  text-align: center;
}
